
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
     
}
/* To section with brand name */
.navbarr{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    z-index: 1000;
}
.title{
    width: 100%;
}


/* navigation Bar */
.nav{
       display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: 80px;
   z-index: 1000;
    width:100%;
 
}
.navbar{
    background-color: whitesmoke;
    
}

/* home page */ 
#home{
    position: relative;   
    min-height: 100vh;   
}

#home img {
    width: 100%;
    /* height: auto; */
    object-fit: cover;
    max-height: 930px;
    height: 100vh;
    
}
.home-text{
    position: absolute;
    top: 45%;
    left:30%;
    transform: translate(-50%, -50%);
    color: black;
    
}
.green{
    font-size: 90px;
}

/* about us */

#about{
    margin: 0;
    padding: 0;
}
.information{
    /* background-color: pink; */
    /* height: 200px; */
    gap:80px;
}
.info-img{
    background-color: yellow;
    height: 450px;
    width: 550px;
}
.info-img img{
    height: 450px;
    width: 550px;
}
.info{
    /* background-color: pink; */
     height: 450px;
    width: 550px;
    padding: 10px;
}
.fa-regular{
    color: green;
}

/* media query mobile */
@media (max-width: 768px) {
#home{
   
   height: 60vh;
   min-height: unset;
   overflow: hidden;
 /* border: 5px orange dashed; */
}
.home-img{
    height: 100%;
   max-height: 60vh;
   width: 100%;
      
    object-fit: cover;
    
}

.navbarr{
    height: 35px;
}
.nav{
    margin-top: 55px;
    
}


/* home page*/
.home-text{
    position: absolute;
    top: 53%;
    left:37%;
    transform: translate(-50%, -50%);
    color: black;
    
}
.green{
    font-size: 50px;
    
}
.sub-text{
    font-size: 15px;
}
/*about us*/
 .information{
    
 }

 }
 
 /* media query tablet */
 @media (min-width: 767px) and (max-width:991px){
    /* home page*/
    .green{
        font-size: 50px;
        /* color: green; */
        
     
}
#home{
   
   height: 70vh;
   min-height: unset;
   overflow: hidden;
 /* border: 5px orange dashed; */
}
.home-img{
    height: 100%;
   max-height: 70vh;
   width: 100%;
      
    object-fit: cover;
    
}

.home-text{
    position: absolute;
    top: 50%;
    left:37%;
    transform: translate(-50%, -50%);
    color: black;
    
}

 }