
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
     
}
/********** To section with brand name ************/
.navbarr{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    z-index: 1000;
}
.title{
    width: 100%;
}


/*********** navigation Bar *************/
.nav{
       display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: 80px;
   z-index: 1000;
    width:100%;
 
}
.navbar{
    background-color: whitesmoke;
    
}

/************ home page ************/ 
#home{
    position: relative;   
    min-height: 100vh;   
}

#home img {
    width: 100%;
    /* height: auto; */
    object-fit: cover;
    max-height: 930px;
    height: 100vh;
    
}
.home-text{
    position: absolute;
    top: 45%;
    left:30%;
    transform: translate(-50%, -50%);
    color: black;
    
}
.green{
    font-size: 90px;
}

/****** about us **********/

#about{
    margin: 0;
    padding: 0;
}
.information{
    /* background-color: pink; */
    /* height: 200px; */
    gap:80px;
}
.info-img{
    background-color: yellow;
    height: 450px;
    width: 550px;
}
.info-img img{
    height: 450px;
    width: 550px;
}
.info{
    /* background-color: pink; */
     height: 450px;
    width: 550px;
    padding: 10px;
}
.fa-regular{
    color: green;
}

/****** contact us **********/
.contact-img{
    width: 100%;
    height:85vh;
    /* background-color: pink; */
    background-image: url("https://images.pexels.com/photos/5416013/pexels-photo-5416013.jpeg");
    background-position: center;
    background-size: cover;
    /* opacity: 0.6; */
    position: relative; 
    text-align: center;
    padding-top: 20px;
    
}
.contact-img::before{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(13, 38, 63, 0.75); /* bluish overlay */
}
.contact-img h1,
.contact-img p{
    position: relative;
    color:white; 
}

.address{
     height: 50vh;
    /* width: 200px; */ 
    /* background-color: pink; */
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.add{
    position: relative;
    /* background-color:aqua; */
    height: 50vh;
    width: 500px;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 1px;
}
/* .add div{
    
    /* background-color: blue;
}*/

.add1{
    /* background-color: #fff; */
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2px;
    color: white;
    position: relative;
}

.icon{
    position: relative;
    color: white;
    font-size: 50px;
}
.valuee{
    /* background-color: rgb(255, 178, 127); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 10px;
}
.msg{
    background-color: #fff;
    height: 50vh;
    width: 500px;
    border-radius: 10px;
    padding: 10px;
   
}

.msg input,textarea{
    border: none;
    border-bottom: 1px solid black;
}
input,textarea:focus {
  outline: none;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  
}
form{
    gap:50px;
    padding: 20px;
}
.foot{
    height: 50px;
    width: 100%;
    background-color: rgb(189, 231, 134);
}
/***** media query mobile *******/
@media (max-width: 768px) {
#home{
   
   height: 60vh;
   min-height: unset;
   overflow: hidden;
 /* border: 5px orange dashed; */
}
.home-img{
    height: 100%;
   max-height: 60vh;
   width: 100%;
      
    object-fit: cover;
    
}

.navbarr{
    height: 35px;
}
.nav{
    margin-top: 55px;
    
}


/* home page*/
.home-text{
    position: absolute;
    top: 53%;
    left:37%;
    transform: translate(-50%, -50%);
    color: black;
    
}
.green{
    font-size: 50px;
    
}
.sub-text{
    font-size: 15px;
}
/*about us*/
 .information{
    
 }

 }
 
 /* media query tablet */
 @media (min-width: 767px) and (max-width:991px){
    /* home page*/
    .green{
        font-size: 50px;
        /* color: green; */
        
     
}
#home{
   
   height: 70vh;
   min-height: unset;
   overflow: hidden;
 /* border: 5px orange dashed; */
}
.home-img{
    height: 100%;
   max-height: 70vh;
   width: 100%;
      
    object-fit: cover;
    
}

.home-text{
    position: absolute;
    top: 50%;
    left:37%;
    transform: translate(-50%, -50%);
    color: black;
    
}

 }